[submodule "vendor/static_assert"]
	path = vendor/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "vendor/type_traits"]
	path = vendor/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "vendor/detail"]
	path = vendor/boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "vendor/ficapi"]
	path = vendor/ficapi
	url = https://github.com/ThePhD/ficapi.git
