[submodule "vendor/config"]
	path = vendor/config
	url = https://github.com/boostorg/config.git
[submodule "vendor/core"]
	path = vendor/core
	url = https://github.com/boostorg/core.git
[submodule "vendor/static_assert"]
	path = vendor/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/type_traits"]
	path = vendor/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "vendor/detail"]
	path = vendor/detail
	url = https://github.com/boostorg/detail.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/boost/assert"]
	path = vendor/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "vendor/boost/smart_ptr"]
	path = vendor/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr
